@{
    ViewData["Title"] = "Início";
}

<h5>Módulos</h5>

<div class="cards-modulos">

    <div class="card-modulo">
        <p class="card-modulo-titulo">Turmas</p>
        <p class="card-modulo-descricao">Gerencie as turmas da instituição</p>
        <a class="botao botao-primario">Abrir</a>
    </div>

    <div class="card-modulo">
        <p class="card-modulo-titulo">Alunos</p>
        <p class="card-modulo-descricao">Gerencie os alunos da instituição</p>
        <a class="botao botao-primario" asp-controller="GerenciarAluno" asp-action="Index">Abrir</a>
    </div>

    <div class="card-modulo">
        <p class="card-modulo-titulo">Docentes</p>
        <p class="card-modulo-descricao">Gerencie os docentes da instituição</p>
        <a class="botao botao-primario" asp-controller="GerenciarDocente" asp-action="Index">Abrir</a>
    </div>

    <div class="card-modulo">
        <p class="card-modulo-titulo">Disciplinas</p>
        <p class="card-modulo-descricao">Gerencie as disciplinas da instituição</p>
        <a class="botao botao-primario" asp-controller="GerenciarDisciplina" asp-action="Index">Abrir</a>
    </div>

</div>