@{
    ViewData["Title"] = "Início";
}

<h5>Dashboard</h5>

<div class="cards-dashboard">

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total alunos</p>
            <div class="card-dashboard-icone">
                <icone nome="Alunos"></icone>
            </div>
        </div>
        <p class="card-dashboard-data">10</p>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total docentes</p>
            <div class="card-dashboard-icone">
                <icone nome="Docentes"></icone>
            </div>
        </div>
        <p class="card-dashboard-data">10</p>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Total disciplinas</p>
            <div class="card-dashboard-icone">
                <icone nome="Disciplinas"></icone>
            </div>
        </div>
        <p class="card-dashboard-data">10</p>
    </div>

    <div class="card-dashboard">
        <div class="card-dashboard-cabecalho">
            <p class="card-dashboard-titulo">Turmas ativas</p>
            <div class="card-dashboard-icone">
                <icone nome="Turmas"></icone>
            </div>
        </div>
        <p class="card-dashboard-data">10</p>
    </div>

</div>