@model GestãoDeTurmas.Models.Disciplina.DisciplinaEditarViewModel

<form method="post" asp-action="Editar" asp-controller="GerenciarDisciplina">
    <div asp-validation-summary="ModelOnly" class="alerta alerta-erro" role="alert"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Novo nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="cargaHoraria">Carga Horária</label>
        <input type="number" asp-for="CargaHoraria" class="form-control" placeholder="Nova Carga Horária">
        <span asp-validation-for="CargaHoraria" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ementa">Ementa</label>
        <input type="text" asp-for="Ementa" class="form-control">
        <span asp-validation-for="Ementa" class="text-danger"></span>
    </div>
    <br />
    <div class="d-flex gap-2">
        <button type="submit" class="botao botao-primario botao-acao">Editar</button>
    </div>
</form>
